---
layout: page
---
<!-- Main Content -->

<% page.posts.each(function(post){ %>
<% var headOnImage =  post["header-img"] ? config["cdn-url"] + post["header-img"]+config.clipImage : config["post-default-img-mobile"]+config.clipImage;
  var headerOffImage = post["header-img"]+config.clipImage || config["post-default-img"]+config.clipImage; %>
<% if (post["cdn"] === 'header-off') { %>
<div class="post-preview  <%- post.layout === 'poetry' ? 'post-preview-poetry' : '' %>">
    <div class="post-preview-content">
        <a href="<%- config.root %><%- post.path %>">
            <h2 class="post-title">
                <%- post.title || "未命名" %>
            </h2>
        </a>
        <p class="post-meta">
            <i class="fa fa-calendar" aria-hidden="true"></i> <%= post.date.format(config.date_format) %>
        </p>
        <% if (post.subtitle && post.subtitle.length) { %>
        <h3 class="post-subtitle">
            <%- post.subtitle %>
        </h3>
        <% } %>
        <div class="post-content-preview">
            <p>
                <%- truncate(strip_html(post.content), {length: 150, omission: '..'}) %>
            </p>
        </div>
    </div>
    <div class="post-preview-image">
        <img src="<%= headOffImage%>">
    </div>
</div>
<% } else { %>
<div class="post-preview <%- post.layout === 'poetry' ? 'post-preview-poetry' : '' %>">
    <div class="post-preview-content">
        <a href="<%- config.root %><%- post.path %>">
            <h2 class="post-title">
                <%- post.title || "未命名" %>
            </h2>
        </a>
        <p class="post-meta">
            <i class="fa fa-calendar" aria-hidden="true"></i> <%= post.date.format(config.date_format) %>
            <i class="fa fa-tags" data-index="<%= parseInt(Math.random()*7) %>" aria-hidden="true" style="margin-left:12px;"></i>
            <% post.tags.each(function(tag,index){ %>
              <a href="<%= config.root %>tags/#<%= tag.name %>/" rel="tag" class="index-tag">
                <%- tag.name %>
              </a>
            <% }); %>
        </p>
        <% if (post.subtitle && post.subtitle.length) { %>
        <h3 class="post-subtitle">
            <%- post.subtitle %>
        </h3>
        <% } %>
        <div class="post-content-preview">
            <p>
                <%- truncate(strip_html(post.content), {length: 150, omission: '..'}) %>
            </p>
        </div>
    </div>
    <div class="post-preview-image">
        <img src="<%= headOnImage%>">
    </div>
</div>
<% } %>
<hr>

<% }); %>


<!-- 翻页 pager -->

<ul class="pager">
    <% if (page.prev){ %>
    <li class="previous">
        <a href="<%- config.root %><%- page.prev_link %>">&larr; 上一页</a>
    </li>
    <% } %>
    <% if (page.next){ %>
    <li class="next">
        <a href="<%- config.root %><%- page.next_link %>">下一页 &rarr;</a>
    </li>
    <% } %>
</ul>

<!-- 网易云音乐-->
<% var indexMusicLink = '//music.163.com/outchain/player?type=2&id='+config.indexMusic+'&auto='+config.indexMusicAuto+'&height=66'%>
<iframe class="cloud-music" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 
    src="<%= indexMusicLink %>">
</iframe>
<canvas id="canvas"></canvas>
<%- js('js/particle.js') %>
