---
layout: layout
---

<!--only post-->
<% var headOnImage =  page["header-img"]?config["cdn-url"]+page["header-img"]+config.clipImage 
                        :config["post-default-img"]+config.clipImage;
  var headerOffImage = page["header-img"] || config["post-default-img"] +config.clipImage %>
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 text-center">
                <div class="post-heading">
                    <h1><%= page.title %></h1>
                    <% if(page.subtitle) { %>
                    <h2 class="subheading"><%= page.subtitle %></h2>
                    <% } %>
                    <span class="meta">
                         作者 <%- page.author || config.author %>
                        <span>
                          日期 <%= page.date.format(config.date_format) %>
                         </span>
                    </span>
                    <div class="tags text-center">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="post-title-haojen">
        <span>
            <%- page.title %>
        </span>
    </div>
    <div class="post-header-image">
        <% if (page["cdn"] === 'header-off'){%>
            <img src="<%= headerOffImage%>">
        <%} else {%>
            <img src="<%= headOnImage%>">
         <% } %>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <!-- Post Container -->
            <div class="col-lg-8 col-lg-offset-1 col-sm-9 post-container">
                <%- page.content %>
                <hr>
                <ul class="pager">
                    <% if (page.prev){ %>
                    <li class="previous">
                        <a href="<%- config.root %><%- page.prev.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.prev.title %>">&larr; 上一页</a>
                    </li>
                    <% } %>
                    <% if (page.next){ %>
                    <li class="next">
                        <a href="<%- config.root %><%- page.next.path %>" data-toggle="tooltip" data-placement="top"
                           title="<%- page.next.title %>">下一页 &rarr;</a>
                    </li>
                    <% } %>
                </ul>
                <div class="comment">
                    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
                </div>
            </div>
            <div class="hidden-xs col-sm-3 toc-col">
                <div class="toc-wrap">
                    <%- toc(page.content, {list_number: false}) %>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Sidebar Container -->

            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                <% if(config['featured-tags']) { %>
                <section>
                    <!-- no hr -->
                    <h5 class="text-center">
                        <a href="<%= config.root %>tags/">FEATURED TAGS</a>
                    </h5>
                    <div class="tags">
                        <% page.tags.forEach(function(tag){ %>
                        <a class="tag" href="<%= config.root %>tags/#<%= tag.name %>"
                           title="<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </section>
                <% } %>

                <!-- Friends Blog -->
                <% if(config.friends) { %>
                <div style="margin-top: 20px;">
                    <h5 class="text-center">FRIENDS</h5>
                    <ul class="list-inline text-center">
                        <% config.friends.forEach(function(friend){ %>
                        <li><a href="<%= friend.href %>"><%= friend.title %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <% } %>
            </div>
        </div>

    </div>
</article>
<!-- 网易云音乐-->
<% var musicId=page.music ? page.music : config.defaultMusic,
       isAuto = page.auto ? page.auto : config.defaultMusicAuto;
    if(musicId == undefined){ musicId = 586299};
    var musicLink = '//music.163.com/outchain/player?type=2&id='+musicId+'&auto='+isAuto+'&height=66';
 %>
<iframe class="cloud-music" frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 
    src="<%= musicLink %>">
</iframe>
<!-- 网易云跟帖-->
<script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
<script>
var cloudTieConfig = {
  url: document.location.href, 
  sourceId: "",
  productKey: "40a8ee22b6084862a8907e6902e525fa",
  target: "cloud-tie-wrapper"
};
var yunManualLoad = true;
Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
</script>
